<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 id="title">Add a Teller</h1>
    <div class="container">
        <form action="{{ url_for('managerProcess', managerName=name) }}" method="post" id="login">
            <label id="usrText" for="usr">SSN:</label>
            <input type="text" id="usr" name="ssn" required><br>
            <label id="usrText" for="usr">Branch ID:</label>
            <input type="text" id="usr" name="branch_id" required><br>
            <label id="usrText" for="usr">Name:</label>
            <input type="text" id="usr" name="name" required><br>
            <label id="usrText" for="usr">State:</label>
            <input type="text" id="usr" name="state" required><br>
            <label id="usrText" for="usr">City:</label>
            <input type="text" id="usr" name="city" required><br>
            <label id="usrText" for="usr">Zip Code:</label>
            <input type="text" id="usr" name="zip_code" required><br>
            <label id="usrText" for="usr">Salary:</label>
            <input type="text" id="usr" name="salary" required><br>
            <label id="usrText" for="usr">Booth #:</label>
            <input type="text" id="usr" name="booth" required><br>
            <input id="btn" type="submit" name="addTeller" value="Submit">
        </form>
    </div>
</body>
</html>