<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 id="title">Choose Your Role</h1>
    
    <div class="container">
        <form method="post" id="role">
          <button formaction = "/manager_home" id="btn" type="submit">Manager</button><br>
          <button formaction = "/teller_home" id="btn" type="submit">Teller</button>
        </form>
    </div>
</body>
</html>