<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 id="title">Choose Your Role</h1>
    
    <div class="container">
        <form method="post" id="role">
          <button formaction = "/manager_home" id="btn" type="submit">Manager</button><br>
          <button formaction = "/teller_home" id="btn" type="submit">Teller</button>
        </form>
    </div>
    <h2 class="solid">
    <h2 id="title">or</h1>
    <hr class="solid">
    <h1 id="title">Add a Branch</h1>
    
    <div class="container">
        <form method="post" id="role">
            <label id="usrText" for="usr">Branch ID:</label>
            <input type="text" id="usr" name="b_id">
            <label id="usrText" for="usr">State:</label>
            <input type="text" id="usr" name="state">
            <label id="usrText" for="usr">City:</label>
            <input type="text" id="usr" name="city">
            <label id="usrText" for="usr">Zip Code:</label>
            <input type="text" id="usr" name="zipcode"><br>
            <input id="btn" type="submit" name="addBranch" value="Add Branch"><br>
        </form>
    </div>
    <hr class="solid">
</body>
</html>