<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
    <div class="container">
        <fieldset>
            <legend>{{ title }}:</legend>
            {% for i in range(0,data|length) %}
                <div>
                    <ul>{{ data[i][0] }} : {{ data[i][1] }}</ul>
                </div>
            {% endfor %}
        </fieldset><br>
        <h2>Go Back To Continue.</h2>
    </div>
</body>
</html>