<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
    <h1 id="title">Account Details</h1>
    
    <div class="container">
        <form method="post" action="{{ url_for('customerProcess', name=name, data=data) }}">
            <fieldset>
                <legend>Account Info:</legend>
                {% for i in range(0,5) %}
                    <div>
                        <ul>{{ headings[i] }}: {{ cInfo[i] }}</ul>
                    </div>
                {% endfor %}
            </fieldset><br>
            <h3>Update Address:</h3>
            <label id="usrText" for="usr">State:</label>
            <input type="text" id="usr" name="state" required>
            <label id="usrText" for="usr">City:</label>
            <input type="text" id="usr" name="city" required>
            <label id="usrText" for="usr">Zip Code:</label>
            <input type="text" id="usr" name="zipcode" required>
            <input id="btn" type="submit" name="updateAccount" value="Update">
       </form>
    </div>
</body>
</html>