<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
    {%- if name -%}
    <h1 id="title">Welcome, {{ name }}</h1>
    {% endif %}
    <div class="console">
        <form method="post" action="{{ url_for('customerProcess', name=name, data=data) }}">
            <input id="btn" type="submit" name="button" value="My Accounts"><br>
            <input id="btn" type="submit" name="button" value="Statements"><br>
            <input id="btn" type="submit" name="button" value="Deposit">
            <input id="btn" type="submit" name="button" value="Withdrawal">
            <input id="btn" type="submit" name="button" value="Transfer"><br>
            <input id="btn" type="submit" name="button" value="External Transfer"><br>
            <input id="btn" type="submit" name="button" value="Update Account Info"><br>
        </form>
    </div>
</body>
</html>