<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 id="title">Managing a Teller</h1>
    <div class="container">
        <form action="{{ url_for('managerProcess', managerName=name) }}" method="post" id="login">
            <label id="usrText" for="usr">Teller ID:</label>
            <select id="dropdown" name="t_id">
                {% for i in range(0, tellers|length) %}
                {% set ssn = tellers[i][1]|string %}
                  <option value="{{ tellers[i][1] }}">{{ tellers[i][0] }} - {{ ssn[-4:] }}</option>
                {% endfor %}
            </select><br>
            <input id="btn" type="submit" name="manageTeller" value="Manager Teller">
        </form>
    </div>
</body>
</html>