<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 id="title">Succesfully Processed</h1>
    
    <div class="container">
        <form method="post" id="role" action = "{{ url_for('managerProcess', managerName=name) }}" >
          <button id="btn" type="submit">Return To Console</button><br>
        </form>
    </div>
</body>
</html>